/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: #000;
}

body,
html {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: aliceblue;
}
